{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.product) }}
        {{ form_widget(form.product, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.product) }}
        <span class="input-help">Choose the product for this stock entry</span>
    </div>

    <div class="form-row">
        <div class="form-group">
            {{ form_label(form.quantity) }}
            {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.quantity) }}
            <span class="input-help">Current stock quantity</span>
        </div>

        <div class="form-group">
            {{ form_label(form.reorderLevel) }}
            {{ form_widget(form.reorderLevel, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.reorderLevel) }}
            <span class="input-help">Minimum quantity before reorder</span>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.lastUpdated) }}
        {{ form_widget(form.lastUpdated, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.lastUpdated) }}
        <span class="input-help">Date and time of last stock update</span>
    </div>

    <div class="form-actions">
        <a href="{{ path('app_dashboard_stocks') }}" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}