{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Dashboard</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dashboard.id }}</td>
            </tr>
            <tr>
                <th>Products</th>
                <td>{{ dashboard.products }}</td>
            </tr>
            <tr>
                <th>Stocks</th>
                <td>{{ dashboard.stocks }}</td>
            </tr>
            <tr>
                <th>Orders</th>
                <td>{{ dashboard.orders }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dashboard_index') }}">back to list</a>

    <a href="{{ path('app_dashboard_edit', {'id': dashboard.id}) }}">edit</a>

    {{ include('dashboard/_delete_form.html.twig') }}
{% endblock %}
